.linkButton {
  box-sizing: border-box;
  height: 50px;
  min-height: 50px;
  min-width: 90%;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  font-family: "Reenie Beanie";
  font-size: 28px;
  align-self: center;
  color: black;
}
.hostingButton {
  background-color: #daa860;
  color: #8a5b2f;
  text-decoration: none;
}

.gitButton {
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #375a64;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .linkButton {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
