.linkButton {
  height: 70px;
  min-height: 50px;
  min-width: 90%;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Reenie Beanie";
  font-size: 28px;
  align-self: center;
  color: black;
}

.hostingButton {
  background-color: #daa860;
}

.gitButton {
  background-color: transparent;
  margin-top: 8px;
}

@media (min-width: 1000px) {
  .linkButton {
    min-width: 39%;
    max-width: 39%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
  }
}
