.cardWrapper {
  width: 45%;
  margin: 2%;
  background-color: #daa860;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
}

.cardImage {
  width: 120px;
  height: 110px;
}

.title {
  width: 100%;
  text-align: start;
  padding-top: 8px;
}

@media (min-width: 1200px) {
  .cardWrapper {
    max-width: 28%;
  }
}
