.personalInformationIcons,
.socialMediaIcons {
  width: 23px;
  height: 23px;
}

.socialMediaIcons {
  padding: 20px;
  color: black;
}

.instagram {
  width: 28px;
  height: 28px;
  padding: 17.5px;
}
