.aboutWrapper {
  background-color: #a7cdcc;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.paragraph {
  margin-bottom: 0;
  -webkit-order: 2;
  order: 2;
  color: #284645;
}

.image {
  width: 80%;
  align-self: center;
  -webkit-order: 0;
  order: 0;
}

.title {
  -webkit-order: 1;
  order: 1;
  color: #284645;
}

@media (min-width: 1000px) {
  .aboutWrapper {
    display: block;
    padding: 10%;
    min-height: 530px;
  }
  .paragraph {
    -webkit-order: 1;
    order: 1;
    width: 45%;
    float: left;
  }

  .image {
    width: 42%;
    -webkit-order: 2;
    order: 2;
  }

  .title {
    -webkit-order: 0;
    order: 0;
    width: 100%;
  }
}
