.contactWrapper {
  background-color: #e8becc;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contactWrapper h2,
.contactWrapper p {
  color: #5c2034;
}

.personalInformationWrapper {
  list-style-type: none;
  padding-left: 16px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 0;
}

.personalInformationWrapper li {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.personalInformationWrapper li img {
  width: 30px;
  height: auto;
}

.labelText {
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5%;
  text-align: justify;
  padding-left: 16px;
  padding-right: 16px;
  color: #5c2034;
}

.socialMediaWrapper {
  background-color: #daa860;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialMediaWrapper a img {
  width: 40px;
  margin: 16px;
}

.footerText {
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5%;
  color: #8a5b2f;
}

@media (min-width: 1000px) {
  .contactWrapper {
    padding: 10%;
    min-height: 250px;
  }
  .paragraph {
    width: 30%;
    float: left;
  }
  .personalInformationWrapper {
    float: right;
    margin-top: 22px;
    width: 50%;
  }
  .personalInformationWrapper li {
    padding-bottom: 16px;
  }
  .socialMediaWrapper {
    width: 100%;
  }

  .labelText {
    font-size: 22px;
  }
}
