body,
html {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Reenie Beanie";
  src: local("Reenie Beanie"),
    url(./assets/fonts/ReenieBeanie-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Architects Daughter";
  src: local("Architects Daughter"),
    url(./assets/fonts/ArchitectsDaughter-Regular.ttf) format("truetype");
  font-weight: normal;
}

h1 {
  font-family: "Reenie Beanie";
  font-size: 45px;
}

h2 {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-family: "Reenie Beanie";
  font-size: 37px;
}
h3 {
  margin: 0;
  font-family: "Reenie Beanie";
  font-size: 28px;
}

p {
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5%;
  text-align: justify;
  padding-left: 16px;
  padding-right: 16px;
}
