body,
html {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Reenie Beanie";
  src: local("Reenie Beanie"),
    url(./assets/fonts/ReenieBeanie-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Architects Daughter";
  src: local("Architects Daughter"),
    url(./assets/fonts/ArchitectsDaughter-Regular.ttf) format("truetype");
  font-weight: normal;
}

h1 {
  font-family: "Reenie Beanie";
  font-size: 45px;
}

h2 {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-family: "Reenie Beanie";
  font-size: 37px;
}
h3 {
  margin: 0;
  font-family: "Reenie Beanie";
  font-size: 25px;
}

p {
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5%;
  text-align: justify;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
    padding-left: 48px;
    padding-right: 48px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2.5%;
    text-align: justify;
    padding-left: 48px;
    padding-right: 48px;
  }
}
