.aboutWrapper {
  background-color: #a7cdcc;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.paragraph {
  margin-bottom: 0;
}

.image {
  width: 80%;
  align-self: center;
}
