.contactWrapper {
  background-color: #e8becc;
  padding-top: 60px;
  padding-bottom: 60px;
}

.personalInformationWrapper {
  list-style-type: none;
  padding-left: 16px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}

.labelText {
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5%;
  text-align: justify;
  padding-left: 16px;
  padding-right: 16px;
}

.socialMediaWrapper {
  background-color: #daa860;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerText {
  font-family: "Architects Daughter";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5%;
}

@media (min-width: 1200px) {
  .contactWrapper {
    padding: 10%;
    min-height: 250px;
  }
  .paragraph {
    width: 30%;
    float: left;
  }
  .personalInformationWrapper {
    float: right;
    margin-top: 22px;
  }
  .socialMediaWrapper {
    width: 100%;
  }
  .personalInformationWrapper {
    width: 50%;
  }
  .labelText {
    font-size: 25px;
  }
}
