.backdrop {
  z-index: 10;
  background-color: rgb(105, 105, 105, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalWrapper {
  position: fixed;
  overflow: auto;
  left: 2%;
  top: 2%;
  z-index: 20;
  height: 95%;
  width: 95%;
  background-color: #a7cdcc;
  display: flex;
  flex-direction: column;
}

.modalImageWrapper {
  width: 100%;
  height: 25%;
}
.modalImage {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.paragraph {
  margin: 8px;
}
.closeButton {
  width: 50px;
  height: 50px;
  font-size: 50px;
  align-self: flex-end;
  text-align: center;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
}

.title {
  padding-top: 8px;
}

.pillsWrapper {
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
}
.pills {
  font-family: "Reenie Beanie";
  font-size: 28px;
  padding: 8px;
  border-color: black;
  border-style: solid;
  margin: 1%;
  border-radius: 100px;
}

#modalProjectsDescription {
  display: none;
}

@media (min-width: 1000px) {
  .modalWrapper {
    display: block;
    height: 80%;
    top: 10%;
  }
  .modalImage {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .modalImageWrapper {
    width: 55%;
    height: 100%;
    float: left;
  }

  .paragraph {
    margin-left: 53%;
    margin-bottom: 0;
  }
  .pillsWrapper {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;
  }
  .pills {
    margin: 3px;
  }
  .title {
    margin-left: 53%;
  }
  .closeButton {
    position: relative;
    float: right;
    padding-top: 3%;
  }
}
