.projectsWrapper {
  background-color: #e8becc;
  padding-top: 60px;
  padding-bottom: 60px;
}

.allCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
}
